@model Board

<link rel="stylesheet" href="~/css/gameStyle.css" />
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
        string? user = Context.Session.GetString("User");
        UserModel? userObj = user != null ? ServiceStack.Text.JsonSerializer.DeserializeFromString<UserModel>(user) : null;
        string firstName = userObj?.FirstName ?? "Guest";
}

<h1>Welcome to your game @firstName, good luck!</h1>
<h2>The time is @DateTime.Now</h2>

<form asp-action="ButtonLeftClick" method="post">
    <div class="minesweeper-grid" style="grid-template-columns: repeat(@Model.Size[1], 50px);">
        @for (int row = 0; row < Model.Size[0]; row++)
        {
            @for (int col = 0; col < Model.Size[1]; col++)
            {
                var cell = Model.Grid[row, col];
                <button type="submit" class="game-button" onclick="setCoordinates(@row, @col)" @(Model.GameState != 0 ? "disabled" : "")>
                    @if (!string.IsNullOrEmpty(cell.ButtonImage))
                    {
                        <img src="/img/@cell.ButtonImage" alt="Button" />
                    }
                    else if (cell.Visited)
                    {
                        <span>@(cell.LiveNeighbors > 0 ? cell.LiveNeighbors.ToString() : "0")</span>
                    }
                    else
                    {
                    }
                </button>
            }
        }
    </div>
    <input type="hidden" id="row" name="row" />
    <input type="hidden" id="col" name="col" />
</form>

<h2>@Model.Message</h2>

<form asp-action="StartOver" method="get">
    <button type="submit" class="start-over-button">Start Over</button>
</form>

<script>
    function setCoordinates(row, col) {
        document.getElementById('row').value = row;
        document.getElementById('col').value = col;
    }
</script>